<!DOCTYPE html>

<html lang="en">
<head>
    <title>Barbell Racking Calculator</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width = device-width, initial-scale =1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="/resources/js/home.js"></script>

    <style>
        .container {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .offset-sm-3 {
            padding-bottom: 15px;
        }
    </style>

</head>
<body>
    <form>
        <div class="container">
                <center>
                    <h1>Barbell Load Calculator</h1>
                    <p>(Pre-Alpha 1.0)</p>
                </center>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4>Settings</h4>
                    <div class="form-group">
                        <label for="TrainingWeight">Targeted Training Weight:</label>
                        <input type="number" class="form-control" id="inputTraining" placeholder="Enter in pounds" min="0" max="10000" step="5"/>
                        <label for="BarWeight">Bar Weight:</label>
                        <input type="number" class="form-control" id="inputBar" placeholder="Enter in pounds" min="0" max="10000" step="5" />
                    </div>
                    <div class="offset-sm-3 col-sm-10">
                        <button type="submit" class="btn btn-primary" onclick="calculatePlates()">Calculate</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h4>Results</h4>
                    <p>Load the following plates on <b>both sides</b> of your 45lb bar:</p>
                    <ul class="list-group" id="Results">
                    </ul>
                </div>
            </div>
            &nbsp;
            <p><b>Note:</b> This calculator assumes the smallest plate available is 2.5lbs, and the largest plate is 45lbs.</p>
        </div>
    </form>


    <script>
        function calculatePlates() {

            document.getElementById("Results").innerHTML = ""; //Clears original list

            var TargetedWeight = document.getElementById("inputTraining").value;
            var WeightOfBar = document.getElementById("inputBar").value;

            var WeightForCalculations = Original = (TargetedWeight - WeightOfBar) / 2;

            if (WeightForCalculations / 45 != 0) {
                var NumberOf45Plates = parseInt(WeightForCalculations / 45);
                WeightForCalculations -= NumberOf45Plates;
            }

            if (WeightForCalculations / 35 != 0) {
                var NumberOf35Plates = parseInt(WeightForCalculations / 35);
                WeightForCalculations -= NumberOf35Plates;
            }

            if (WeightForCalculations / 25 != 0) {
                var NumberOf25Plates = parseInt(WeightForCalculations / 25);
                WeightForCalculations -= NumberOf25Plates;
            }

            if (WeightForCalculations / 10 != 0) {
                var NumberOf10Plates = parseInt(WeightForCalculations / 10);
                WeightForCalculations -= NumberOf10Plates;
            }

            if (WeightForCalculations / 5 != 0) {
                var NumberOf5Plates = parseInt(WeightForCalculations / 5);
                WeightForCalculations -= NumberOf5Plates;
            }

            if (WeightForCalculations / 2.5 != 0) {
                var NumberOfHalf5Plates = parseInt(WeightForCalculations / 2.5);
                WeightForCalculations -= NumberOfHalf5Plates;
            }

            if (WeightForCalculations < Original) {
                var node = document.createElement("li");
                node.className = "list-group-item list-group-item-info";
                var Plates45 = NumberOf45Plates + " x 45lb Plate(s)";
                var textnode = document.createTextNode(Plates45);
                node.appendChild(textnode);
                document.getElementById("Results").appendChild(node);
            }
        }

    </script>
</body>
</html>